.eee-sn {
    width: 400px;
    height: 150px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
    margin-top: 20%;
    margin-left: 25%;


    
  }
  
  .aaa-sn {
    height: 60px;
    padding-top: 15px;
    text-align: center;
    background: rgb(90, 177, 63);
    overflow: hidden;
  }

  .qwe-sn {
  
   padding-top: 30px;
  }